*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: pink;
    position: relative;
}

#dragable{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 109, 194);
    cursor:move;
    position: absolute;
}

#dragable p{
    pointer-events: none;
}